@import "@globals/variables";
@import "@globals/colors.module";
@import "@globals/typography";
@import "@globals/mixins";

$maskUrl: "/img/about-us/mask.svg";

@include breakpoint(lg){
  body:has(.about-us__wrapper){
    .logoSVG{
      --logo-text-color: #{$white};
    }
  }
}

@mixin verticalSeparator{
    content: "";
    position: absolute;
    top: 0;
    height: calc(100%);
    border-left: 2px solid $gray-200;
}

.about-us{
  &__wrapper{
    --pt: 32px;

    padding-top: calc($headerTop * 2 + $buttonHeight);
    grid-column: 1/-1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: $space-4;
    @include breakpoint(lg){
      display: grid;
      grid-template-columns: subgrid;
      padding-top: 0;
      & > section {
        column-gap: $gutter;
      }
    }
    @include breakpoint(xl){
      row-gap: $space-5;
      --pt: 64px;
    }
  }

  &__hero{
    @include ignoreMarginWidth;
    position: relative;
    padding: $space-6 calc($margin + $gutter);
    &__heading{
      @include typo-sub1;
      color: $red;
      font-weight: 400;
      text-align: center;
      margin: 0 auto 144px auto;
      display: block;
      z-index: 1;
      position: relative;
    }
    &__desc{
      @include typo-sub4;
      font-weight: 400;
      color: $white;
      text-align: center;
      position: relative;
      .line {
        --inset-r: 100%;
        color: $white;
      }
      &:before{
        @include beforeDot;
        bottom: calc(100% + $space-1);
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__bg{
      --mask-size: 790px;
      --mask-x: 50%;
      --opacity: 1;
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__extra{
      @include typo-sub2;
      color: $white;
      max-width: 800px;
      text-align: center;
      position: relative;
      z-index: 2;
      margin-top: 200px;
    }
    &__arrow{
      display: none;
    }
    @include breakpoint(md){
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $black;
      row-gap: $space-6;
      height: 100vh;
      &__heading{
        @include typo-h2;
        color: $red;
      }
      &__desc{
        @include typo-sub1;
        text-wrap: balance;
        padding-bottom: 112px;
        &:before{
          @include beforeDot;
          bottom: calc(100% + $space-4);
          width: $space-8;
          height: $space-8;
        }
      }
    }
    @include breakpoint(lg){
      grid-column: 1/-1;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      &__arrow{
        display: block;
        position: absolute;
        bottom: $space-6;
        .arrow-icon{
          background: none;
        }
      }
    }
    @include breakpoint(xl){
      &__heading{
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        height: 1px;
      }
      &__bg{
        z-index: 0;
        mask-repeat: no-repeat;
        mask-image: url($maskUrl);
        mask-size: var(--mask-size);
        mask-position: var(--mask-x) 38%;
        &:before{
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          background-color: $red;
          z-index: 1;
          opacity: var(--opacity);
        }
      }
      &__desc{
        @include typo-h3;
        position: absolute;
        opacity: 0;
        padding: 0;
        font-size: 6.4rem;
        text-transform: uppercase;
        max-width: 970px;
        text-wrap: stable;
        .line{
          background-color: $white;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          clip-path: inset(0 var(--inset-r) 0 0);
        }
      }
    }
    @include breakpoint-max(xl){
      &__extra{
        display: none;
      }
    }
  }

  &__origins {
    position: relative;
    padding-top: calc(var(--pt) - 4px);
    display: grid;
    grid-template-areas: "heading" "subheading" "images" "desc";

    &__heading {
      @include typo-sub3;
      font-weight: 400;
      text-transform: uppercase;
      line-height: 120%;
      grid-area: heading;
    }
    &__subheading {
      @include typo-sub4;
      font-weight: 400;
      color: $gray-600;
      margin-top: $space-2;
      grid-area: subheading;
    }
    &__desc {
      @include typo-body-small;
      grid-area: desc;
    }
    &__images {
      width: 140%;
      margin: $space-5 calc(-1 * ($margin + 20%)) $space-5 calc(-1 * ($margin + 20%));
      display: flex;
      flex-direction: row;
      grid-area: images;
      column-gap: $space-2;
      div {
        flex-basis: 50%;
        position: relative;
        aspect-ratio: 1;
        box-shadow: 0 0 0 4px $red inset;
        img {
          z-index: -1;
        }
      }
    }
    &:before {
      @include separator;
    }

    @include breakpoint(md) {
      grid-template-areas:
              "heading heading"
              "subheading images"
              "desc images";
      grid-template-columns: 1fr 256px;
      row-gap: $space-5;

      &__heading{
        @include typo-sub1;
        line-height: 90%;
        padding-bottom: $space-5;
      }
      &__subheading{
        @include typo-sub3;
      }
      &__desc{
        @include typo-body-small;
        max-width: 64ch;
      }
      &__images{
        flex-direction: column;
        width: 100%;
        column-gap: 0;
        margin: 0;
        align-items: center;
        div{
          flex-basis: unset;
          position: relative;
          z-index: 2;
          box-shadow: none;
          &:first-of-type{
            width: 60%;
            transform: rotate(15deg);
          }
          &:last-of-type{
            width: 70%;
            transform: rotate(-15deg);
          }
          &:after{
            position: absolute;
            content: "";
            display: block;
            inset: 0;
            border: 6px solid $red;
          }
        }
      }
    }
    @include breakpoint(lg){
      grid-template-areas: "heading subheading" "images desc";
      grid-template-columns: 1fr 1fr;
      grid-column: 1/-1;
      row-gap: 0;
      padding-bottom: $space-3;

      &__images{
        width: 90%;
        flex-direction: row;
        height: 100%;
        margin-top: -$space-2;
      }
      &__heading{
        padding-bottom: 0;
        max-width: 450px;
        height: fit-content;
      }
      &__subheading{
        @include typo-sub2;
        color: $black;
        margin-top: 0;
      }
      &__desc{
        margin-top: auto;
        @include typo-body;
      }
      &:after{
        @include verticalSeparator;
        height: calc(100% + 44px);
        z-index: -1;
        grid-column: 2;
        left: calc(-1 * $gutter);
      }
    }
    @include breakpoint(xl){
      &__images{
        margin-left: 10%;
        width: 80%;
        div:after{
          border: 14px solid $red;
        }
      }
    }
    @include breakpoint(2xl){
      &__images{
        width: 100%;
        height: 350px;
        margin-left: 0;
        justify-content: space-around;
        div{
          z-index: 0;
          height: 100%;
          width: auto !important;
          &:nth-child(1) {
            align-self: start;
            height: 80%;
            //margin-left: 10%;
            transform: rotate(-15deg);
          }
          &:nth-child(2){
            margin-left: 10%;
            transform: rotate(23deg) scale(1.1);
          }
        }
      }
      &__heading, &__subheading, &__desc{
        max-width: 680px;
        z-index: 2;
      }
      &__subheading{
        overflow: visible;
      }
    }
    @include breakpoint(3xl){
      width: 100%;
      max-width: 1800px;
      margin: 0 auto;
    }
  }

  &__values{
    position: relative;
    display: grid;
    grid-template-areas: "heading" "desc1" "image" "desc2";
    padding-top: calc(var(--pt) - 4px);
    row-gap: $space-5;

    &__heading{
      @include typo-sub3;
      font-weight: 400;
      text-transform: uppercase;
      grid-area: heading;
    }
    &__desc{
      @include typo-body-small;
      &:nth-child(1){
        grid-area: desc1;
      }
      &:nth-child(2){
        grid-area: desc2;
      }
    }
    &__image{
      margin-top: $space-5;
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      grid-area: image;
      &:before{
        content: "FOUNDERS";
        display: block;
        position: absolute;
        bottom: 94%;
        width: 100%;
        text-align: center;
        z-index: -1;
        @include typo-sub1;
        color: $red;
      }
      .founder-label{
        @include typo-sub3;
        position: absolute;
        background-color: $red;
        width: fit-content;
        text-wrap: nowrap;
        &:nth-of-type(1){
          left: 0;
          top: 50%;
          writing-mode: vertical-lr;
          text-orientation: sideways;
          padding: $space-2 8px $space-2 $space-2;
          transform: translate(-50%, -50%);
        };
        &:nth-of-type(2){
          bottom: -16px;
          left: 50%;
          transform: translateX(-50%);
          padding: 6px $space-2;
        };
        &:nth-of-type(3){
          left: 100%;
          top: 50%;
          writing-mode: vertical-rl;
          text-orientation: sideways;
          padding: $space-2 8px $space-2 $space-2;
          transform: translate(-50%, -50%) rotate(180deg);
          z-index: 3;
        };
      }
    }
    &:before{
      @include separator;
    }
    @include breakpoint(md){
      grid-template-areas: "heading" "desc1"  "desc2" "image";
      &__heading{
        @include typo-sub1;
      }
      &__desc{
        max-width: 64ch;
      }
      &__image{
        width: 500px;
        margin: 0 auto;
        &:before{
          @include typo-h2;
          z-index: 1;
          line-height: 60%;
          letter-spacing: -7.2px;
          bottom: -48px;
        }
        .founder-label{
          &:nth-of-type(1), &:nth-of-type(3){
            max-width: 42px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: $space-2;
          }
          &:nth-of-type(1){
            transform: translate(-50%, -50%) rotate(180deg);
          }
          &:nth-of-type(2){
            bottom: unset;
            top: -16px;
          }
          &:nth-of-type(3){
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
    @include breakpoint(lg){
      grid-column: 1/-1;
      grid-template-areas: "heading image" "desc1 image" "desc2 image";
      grid-template-columns: 1fr 1fr;

      &__heading{
        line-height: 90%;
        max-width: 480px;
      }
      &__image{
        width: 450px;
      }
      &:after{
        @include verticalSeparator;
        height: calc(100% + 72px);
        z-index: -1;
        grid-column: 2;
        left: calc(-1 * $gutter);
      }
    }
    @include breakpoint(xl){
      &__image{
        width: 500px;
        &:before{
          width: unset;
          font-size: 16rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    @include breakpoint(2xl){
      &__desc{
        max-width: 680px;
      }
    }
    @include breakpoint(3xl){
      width: 100%;
      max-width: 1800px;
      margin: 0 auto;
    }
  }

  &__studio{
    position: relative;
    padding-top: calc(var(--pt) - 4px);
    display: grid;
    flex-direction: column;
    row-gap: $space-5;
    grid-template-areas: "heading" "banner" "desc1" "slogan" "team" "desc2";

    &__heading{
      @include typo-sub3;
      font-weight: 400;
      grid-area: heading;
    }
    &__banner{
      grid-area: banner;
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      padding-bottom: $space-2;
      img{
        object-fit: cover;
        object-position: 25% center;
        z-index: -1;
      }
      p{
        @include typo-sub3;
        color: $white;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
      }
      p:first-of-type{
        color: $gray-200;
      }
      p:last-of-type{
        display: none;
      }
    }
    &__desc{
      @include typo-body;
      max-width: 90%;
      margin: 0 auto;
      &:nth-child(1){
        grid-area: desc1;
      }
      &:nth-child(2){
        grid-area: desc2;
      }
    }
    &__slogan{
      @include typo-sub1;
      @include ignoreMarginWidth;
      color: $red;
      text-transform: uppercase;
      grid-area: slogan;
      text-wrap: nowrap;
      text-align: center;
    }
    &__team{
      grid-area: team;
      position: relative;
      aspect-ratio: 1.1;
      width: 100%;
      img{
        object-fit: cover;
        object-position: 28% center;
      }
    }
    &:before{
      @include separator;
      max-width: 1800px;
    }

    @include breakpoint(md){
      grid-template-areas: "heading" "banner" "desc1" "desc2" "team";
      margin-top: $space-8;
      &__heading{
        visibility: hidden;
        height: 1px;
      }
      &__banner{
        @include ignoreMarginWidth;
        justify-content: start;
        align-items: flex-end;
        aspect-ratio: 1.75;
        padding: $space-2 $margin;
        img{
          object-position: center;
        }
        p{
          @include typo-sub1;
          text-align: right;
          line-height: 75%;
          &:nth-child(2){
            letter-spacing: 2px;
          }
          &:last-of-type{
            margin-top: auto;
            display: block;
            text-align: left;
            color: $red;
            @include typo-h2;
            line-height: 60%;
            letter-spacing: -7.2px;
          }
        }
      }
      &__team{
        aspect-ratio: 1.4;
        max-width: 450px;
        margin: 0 auto;
        border: 6px solid $red;
      }
      &__slogan{
        display: none;
      }
    }
    @include breakpoint(lg){
      grid-template-areas:
              "heading heading"
              "banner banner"
              "desc1 desc2";
      grid-column: 1/-1;
      margin-top: $space-4;
      padding-top: 0;
      padding-bottom: $space-6;
      row-gap: $space-6;
      > * {
        z-index: 1;
      }
      &__team{
        display: none;
      }
      &__slogan{
        display: none;
      }
      &__desc{
        color: $white;
        position: relative;
        padding-left: 32px;
        &:before{
          @include beforeDot;
          width: 48px;
          height: 48px;
          left: -32px;
          top: 4px;
        }
      }
      &:after{
        content: "";
        display: block;
        z-index: -1;
        position: absolute;
        inset: 100px calc(-1 * $margin) 0 calc(-1 * $margin);
        background-color: $black;
      }
    }
    @include breakpoint(xl){
      &__banner{
        height: 100vh !important;
        overflow: hidden;
        p.room,p.work,p.people{
          position: absolute;
          width: fit-content;
          text-wrap: nowrap;
          @include typo-display;
          color: $red;
          font-size: 17rem;
          text-align: center;
          margin: unset;
          display: block;
        }
        p.people{
          font-size: 22rem;
        }
        &__team{
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50vw;
          aspect-ratio: 1.6;
        }
      }
    }
    @include breakpoint-max(xl){
      &__banner__team{
        display: none;
      }
    }
  }

  &__impact{
    @include ignoreMarginWidth;
    position: relative;
    padding-top: var(--pt);

    &__image{
      position: absolute;
      width: 100%;
      aspect-ratio: 1.2;
    }
    &__headers{
      position: absolute;
      z-index: 1;
      width: 100%;
      margin-top: $space-3;
      h2, h3{
        @include typo-sub1;
        width: 100%;
        margin: 0 auto;
        text-transform: uppercase;
        text-align: center;
        color: $red;
      }
    }
    &__desc{
      width: 100%;
      background-color: $black;
      padding: calc(100vw / 1.2 + $space-5) $margin $space-5 $margin;
      p{
        @include typo-sub4;
        text-align: center;
        color: $white;
        &:first-of-type{
          margin-bottom: 2rem;
        }
        &:last-of-type{
          height: 1px;
          visibility: hidden;
          margin: 0;
        }
      }
    }
    &:before{
      @include separator;
    }

    @include breakpoint(md){
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-areas: "headers" "desc" "image";
      row-gap: $space-8;
      &__image{
        position: relative;
        grid-area: image;
        aspect-ratio: 1.75;
        @include ignoreMarginWidth;
      }
      &__headers{
        width: 100%;
        margin: 0;
        position: relative;
        grid-area: headers;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        column-gap: $space-3;
        h2,h3{
          @include typo-h2;
          letter-spacing: -7.2px;
          line-height: 60%;
          text-wrap: nowrap;
          font-size: 11rem;
          width: fit-content;
          margin: 0;
        }
        h3{
          opacity: 0.5;
        }
      }
      &__desc{
        padding: 0 $margin;
        grid-area: desc;
        background-color: unset;
        max-width: 64ch;
        p{
          color: $black;
          text-align: left;
          display: inline;
          @include typo-body;
          &:first-child{
            margin: 0;
          }
          &:last-of-type{
            display: inline-block;
            height: unset;
            visibility: visible;
            margin-top: $space-2;
          }
        }
      }
    }
    @include breakpoint(lg){
      width: 100%;
      margin: 0;
      grid-column: 1/-1;
      grid-template-areas:
              "image headers"
              "image desc";
      grid-template-columns: 1fr 1fr;
      padding: $space-6 0 $space-10 0;
      &__headers{
        flex-direction: column;
        h2,h3{
          font-size: 14rem;
          line-height: 60%;
        }
      }
      &__image{
        width: calc(100% - 2* $gutter);
        height: 100%;
        margin: 0 auto;
      }
      &__desc{
        padding: 0;
      }
    }
    @include breakpoint(xl){
      h2,h3{
        font-size: 17rem;
      }
      h3 {
        position: relative;
        mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
        &:after{
          left: 0;
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          overflow: visible;
          background-image: radial-gradient(
                          circle at 50% 100%,
                          rgba(255,255,255,0.5) 0%,
                          rgba(255,255,255,0) 100%
          );
          animation: fogMove 3s ease-in-out infinite alternate;
        }
      }
    }
    @include breakpoint(2xl){
      &__headers{
        h2,h3 {
          font-size: 22rem;
          letter-spacing: -15px;
        }
      }
    }
    @include breakpoint(3xl){
      &__headers{
        h2,h3 {
          font-size: 25rem;
        }
      }
    }
  }
}

@keyframes fogMove {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}