@import "@globals/variables";
@import "@globals/colors.module";
@import "@globals/typography";
@import "@globals/mixins";

.events {
  &__wrapper {
    padding-top: calc($headerTop * 3 + $buttonHeight);
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: subgrid;
    //row-gap: $space-4;

    .swiper{
      overflow: visible;
    }
    .swiper-wrapper{
      height: 100%;

      .swiper-slide{
        height: auto;
        margin-right: -1px;
      }
    }

    @include breakpoint("md") {
      padding-top: calc($headerTop * 2);
    }

    @include breakpoint("lg") {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row: 2;
      min-height: 150vh;
    }
  }

  &__cover__wrapper{
    grid-column: 1/-1;
    @include ignoreMarginWidth;
    position: relative;
    height: min-content;
    margin-bottom: $space-6;
    &:after{
      content: "";
      display: block;
      position: absolute;
      @include ignoreMarginWidth;
      height: calc(100% - 2px);
      top: 0;
      border: 1px solid $gray-200;
      border-left: none;
      border-right: none;
    }
    @include breakpoint("lg"){
      margin-top: 100vh;
    }
  }
  &__concert__wrapper{
    width: calc(100% + 2 * $margin);
    margin: 0 calc(-1 * $margin);
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
  }

  &__heading {
    @include typo-sub1;
    color: $red;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    grid-row: 1;
    grid-column: 1 / -1;
    margin-bottom: $space-2;

    @include breakpoint("md") {
      @include typo-h1;
      margin-top: $space-2;
      margin-bottom: 0;
      position: absolute;
      z-index: 2;
    }

    @include breakpoint("lg") {
      @include typo-display;
      color: $red;
      margin: 0 auto;
      font-size: 200px;
      position: absolute;
      top: 50vh;
      z-index: 2;
      h1{
        font-size: 200px;
      }
    }
  }
  &__banner{
    @include ignoreMarginWidth;
    grid-column: 1/-1;
    aspect-ratio: 1848/860;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include breakpoint("md") {
      margin-top: $space-4;
    }
    @include breakpoint("lg") {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      top: 140px;
      height: calc(100vh - 140px - 48px);
      z-index: 1;
      will-change: transform;
      img{
        object-position: center;
      }
    }
  }
  &__type-heading{
    @include typo-sub1;
    grid-column: 1/-1;
    width: 90%;
    line-height: 60%;
    z-index: -1;
    position: relative;
    color: $gray-400;
    text-align: center;
    font-weight: 400;
    max-width: 300px;
    @include breakpoint("lg"){
      display: none;
    }
    &--festivals{
      margin: -12px auto 12px auto;
      span{
        display: block;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        text-align: left;
        &:nth-child(even){
          text-align: right;
        }
      }
    }
    &--concerts{
      text-align: center;
      margin: 0 auto -8px auto;
    }
  }
}