@import "@globals/variables";
@import "@globals/colors.module";
@import "@globals/typography";
@import "@globals/mixins";

.events {
  &__wrapper {
    padding-top: calc($headerTop * 3 + $buttonHeight);
    grid-column: 1 / -1;
    width: 100%;
    display: grid;
    grid-template-columns: subgrid;

    .swiper{
      overflow: visible;
    }
    .swiper-wrapper{
      height: 100%;

      .swiper-slide{
        height: auto;
        margin-right: -1px;
      }
    }

    @include breakpoint("md") {
      padding-top: calc($headerTop * 2);
    }

    @include breakpoint("lg") {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row: 2;
      min-height: 150vh;
    }
  }

  &__cover__wrapper{
    grid-column: 1/-1;
    width: 100%;
    position: relative;
    height: min-content;
    &:after{
      content: "";
      display: block;
      position: absolute;
      @include ignoreMarginWidth;
      height: calc(100% - 2px);
      top: 0;
      border: 1px solid $gray-200;
      border-left: none;
      border-right: none;
    }
  }

  &__concert__wrapper{
    @include ignoreMarginWidth;
    grid-column: 1 / -1;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
  }

  &__concert{
    &__item{
      display: grid;
      padding: $space-3 $space-2;
      background-color: $red;
      grid-template-columns: auto 1fr;
      column-gap: $space-3;
      row-gap: $space-3;
      &:not(:last-of-type){
        border-bottom: 2px solid $black;
      }

      &__date{
        display: flex;
        flex-direction: column;
        width: fit-content;
        span{
          text-align: center;
        }
        .day{
          @include typo-h3;
          line-height: 65%;
        }
        .month{
          @include typo-sub3;
        }
        .time{
          @include typo-label;
          color: $black;
        }
      }
      &__title{
        @include typo-sub3;
        text-wrap: balance;
        width: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
      }
      &__address{
        @include typo-label;
        font-size: 2rem;
        grid-column: 1/-1;
        text-transform: uppercase;
      }
      &__buttons{
        grid-column: 1/-1;
      }
    }
  }

  &__banner{
    display: none;
  }
  &__heading {
    @include typo-sub1;
    color: $red;
    white-space: nowrap;
    text-align: center;
    width: 100%;
    grid-row: 1;
    grid-column: 1 / -1;

    @include breakpoint("md") {
      margin-top: $space-3;
      @include typo-h2;
    }

    @include breakpoint("lg") {
      @include typo-display;
      color: $red;
      margin: 0 auto;
      font-size: 200px;
      h1{
        font-size: 200px;
      }
    }
  }
  &__type-heading{
    @include typo-sub1;
    color: $gray-400;
    text-align: center;
    width: 100%;
  }
}