@import "@globals/mixins";
@import "@globals/colors.module";
.social-icon{
  img{
    width: 48px;
    height: 48px;

    @include breakpoint("md"){
        width: 64px;
        height: 64px;
    }

    @include breakpoint("xl"){
        width: 72px;
        height: 72px;
    }

    @include breakpoint("2xl"){
        width: 80px;
        height: 80px;
    }
  }
}