@import "@globals/variables";
@import "@globals/colors.module";
@import "@globals/typography";
@import "@globals/mixins";

body:has(.artist__wrapper) {
  .footer {
    position: relative;
    top: unset;
    z-index: $z-content;
  }
  main {
    margin-bottom: 0 !important;
  }
}

.artist {
  &__wrapper {
    margin-top: calc($buttonHeight + $headerTop * 2);
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/-1;
    width: 100%;
    margin-bottom: $space-6;

    @include breakpoint("xl") {
      grid-template-columns: subgrid;
    }
  }

  &__image {
    grid-row: 1;
    @include ignoreMarginWidth;
    position: relative;
    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
      height: unset;
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      pointer-events: none;
      background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 120%
        )
        no-repeat;
    }

    @include breakpoint("md") {
      width: 80%;
      margin: calc($margin * 2) auto 0;
      &:after {
        display: none;
      }
      &:before {
        content: "";
        display: block;
        position: absolute;
        pointer-events: none;
        z-index: -1;
        background: $red;
        width: calc(100% + $space-3 * 2);
        height: 90%;
        top: -$space-5;
        left: -$space-3;
      }
    }
    @include breakpoint("xl") {
      position: fixed;
      right: 0;
      top: calc(-1 * ($headerTop * 2));
      height: 90vh;
      width: calc(((100vw - 2 * $margin) / 6) * 3 + $gutter);
      z-index: -1;
      //width: calc(100% + $margin);
      //grid-column: 4/-1;
      //margin: calc(-1* ($headerTop * 2 + $buttonHeight)) calc(-1 * $margin) 0 0;
      //height: 90vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
      &:before {
        display: none;
      }
      &:after {
        top: unset;
        left: unset;
        bottom: 0;
        right: -2%;
        content: attr(data-genre);
        background: none;
        display: block;
        z-index: $z-content;
        @include typo-h2;
        color: $red;
      }
    }
  }

  &__heading {
    position: absolute;
    top: calc($headerTop + $buttonHeight + 100vw - 2 * $margin);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
    @include typo-sub2;
    color: $red;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("md") {
      @include typo-h3;
      top: calc($headerTop * 2 + $buttonHeight + 80vw + $space-6);
      left: calc($margin * 3 + 10px);
      transform: translateX(0);
      text-align: left;

      &:before {
        @include beforeDot;
        height: 40px;
        width: 40px;
        left: calc(-36px - $margin);
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @include breakpoint("xl") {
      position: fixed; //changed
      z-index: $z-content;
      top: calc($headerTop * 2 + $buttonHeight + 150px);
      left: calc((100vw / 6) + $gutter);
      transform: translateX(0);
      text-align: left;
      &:before {
        left: calc(-1 * ($gutter + 36px));
        transform: translateY(-40%);
      }
    }
  }

  &__details {
    margin-top: calc($margin * 4);
    grid-column: 1/-1;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: $space-6;
    @include breakpoint("md") {
      margin-top: calc($margin * 2);
    }
    @include breakpoint("xl") {
      margin-top: calc(
        150px + 80px + $space-5
      ); //margin of heading + heading height + 40px space
      grid-column: 2/4;
      //align-self: center;
      margin-left: $gutter;
      padding-right: $space-2;

      &:after {
        content: "";
        display: block;
        position: fixed;
        //top: calc(150px + 80px + $space-5); //margin of heading + heading height + 40px space
        top: 0;
        left: calc((100vw / 6 + $gutter));
        width: calc(((100vw - var(--sb-width)) / 6) * 2 - $gutter);
        background: linear-gradient(to bottom, $white 92%, rgba($white, 0));
        height: calc($headerTop * 2 + $buttonHeight + 150px + 80px + $space-5);
        z-index: 1;
      }
    }

    &__desc {
      display: flex;
      flex-direction: column;
      gap: $margin;

      @include breakpoint("md") {
        margin-top: calc($margin * 4);
      }
      @include breakpoint("xl") {
        margin-top: 0;
      }

      &__heading {
        @include typo-sub3;
        text-transform: uppercase;
        display: inline-flex;
        justify-content: start;
        align-items: center;
        column-gap: $space-1;
        @include breakpoint("md") {
          display: none;
        }
      }
    }
    &__separator {
      img {
        @include ignoreMarginWidth;
        display: block;
        object-fit: cover;
        height: unset;
      }
      p {
        margin-top: $space-4;
      }
    }
    &__listen {
      &__heading {
        @include typo-btn-small;
        text-transform: uppercase;
        @include breakpoint("md") {
          @include typo-sub3;
        }
      }
      &__icons {
        display: flex;
        justify-content: start;
        column-gap: $space-2;
        margin-top: $space-1;

        @include breakpoint("md") {
          margin-top: $space-3;
        }
      }
    }
    &__releases {
      display: flex;
      flex-direction: column;
      gap: $space-2;
      @include breakpoint("md") {
        row-gap: $space-4;
      }
      &__heading {
        @include typo-sub3;
        text-transform: uppercase;
        font-weight: 400;
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: $space-3;

        @include breakpoint("md") {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint("xl") {
          grid-template-columns: 1fr;
        }
      }
    }
    &__events {
      display: flex;
      flex-direction: column;
      row-gap: $space-2;
      @include breakpoint("md") {
        row-gap: $space-4;
      }
      &__list {
        display: flex;
        flex-direction: column;
        gap: $space-3;
      }
    }
    &:before {
      @include horizontalLine;
      top: calc(-2 * $margin);

      @include breakpoint("xl") {
        width: 2px;
        height: 100%;
        margin: 0;
        top: 0;
        left: calc(-1 * $gutter);
      }
    }
  }
}
