@import "@globals/variables";
@import "@globals/colors.module";
@import "@globals/typography";

body:has(.artists__wrapper.isDesktop){
  main{
    position: static;
  }
    position: relative;
    height: 100vh;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $white;
}

.artists {
  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 1/-1;
    padding-top: calc($headerTop * 2 + $buttonHeight);
    width: 100%;
    row-gap: $space-4;

    @include breakpoint("md"){
      height: 100vh;
      padding-top: calc($headerTop + $buttonHeight);
      row-gap: $space-3;
    }

    @include breakpoint("xl"){
      display: grid;
      padding-top: 0;
      grid-template-columns: minmax(0, 1024px) minmax(762px, 1fr);
      grid-template-rows: 1fr;
      height: fit-content;
      background-color: $white;
      @include ignoreMarginWidth;
      &:has(.slider__item:hover){
        .artists__slider__info{
          opacity: 1
        }
      }
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    @include typo-body-small;
    margin-top: $space-2;
    position: relative;
    padding-bottom: $space-4;
    height: min-content;
    row-gap: $space-2;
    grid-column: 1/-1;
    width: 100%;

    &:after{
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      background-color: $gray-400;
      width: 100vw;
      margin: 0 calc(-1 * $margin);
      bottom: 0;

      @include breakpoint("xl"){
        display: none;
      }
    }

    @include breakpoint("md"){
      @include typo-body;
      row-gap: 0;
      margin-top: 0;
      padding-bottom: $space-2;
      max-width: calc(100% - $buttonHeight);
    }
    @include breakpoint("xl"){
      grid-column: unset;
      margin-top: 300px;
      margin-left: clamp(0px, 40px, 80px);
      row-gap: $space-10;
      position: relative;
      width: 100%;
    }

    &__heading {
      @include typo-sub1;
      font-weight: 400;
      display: inline-block;
      text-transform: uppercase;
      color: $red;
      @include breakpoint("md"){
        @include typo-h2;
      }
      @include breakpoint("xl"){
        max-width: 700px;
        @include typo-display;
      }
    }
    .bold{
      @include typo-sub4;
      margin-bottom: $space-1;
      @include breakpoint("md"){
        @include typo-sub3;
        margin-bottom: 0;
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      @include breakpoint("xl") {
        p{
          max-width: 680px;
        }
      }
    }
    &__extra {
      @include breakpoint-max("md"){
        @include typo-sub4;
        @include ignoreMarginWidth;
        background-color: $white;
        position: relative;
        p{
          padding: $space-4 calc($margin + 2px);
          width: 100%;
          white-space: wrap;
          word-wrap: normal;
        }
        &:after{
          display: block;
          position: absolute;
          font-family: $nats;
          content: "”";
          font-size: 5rem;
          bottom: $space-2;
          right: calc($margin + 6px);
        }
      }
      @include breakpoint("xl"){
        margin-top: $space-2;
      }
    }

    &__arrow{
      height: 80px;
      position: absolute;
      width: calc(100% - $margin + 11px);
      display: flex;
      justify-content: end;
      top: 100%;
      &__icon{
        width: 80px;
        height: 80px;
        background-color: $black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        right: calc(2px);
        top: 100%;
        svg{
          animation: subtleLevitate 3s infinite linear;
        }
      }

    }
  }

  &__list{
    width: 100%;
    max-width: 680px;
    margin-bottom: 110px;
    margin-top: $space-4;
    &__heading{
      @include typo-h3;
      color: $red;
      text-transform: uppercase;
    }
    &__item{
      width: 100%;
      display: flex;
      padding: $space-2 var(--l);
      justify-content: start;
      align-items: center;
      @include typo-sub2;
      font-weight: 400;
      border-bottom: 2px solid $gray-400;
      position: relative;
      z-index: 2;
      &:before{
        display: block;
        content: '';
        inset: 0;
        position: absolute;
        background-color: $gray-200;
        z-index: -1;
        clip-path: inset(var(--top) 0 var(--bottom) 0);
        //transition: clip-path 0.3s ease-in-out;
      }
    }
  }
  &__mobile-list{
    grid-column: 1/-1;
    width: 100vw;
    margin: 0 calc(-1 * $margin);
    height: 350px;
    position: relative;

    @include breakpoint("md"){
      height: 100%;
    }

    .swiper{
      width: 100%;
      height: 100%;
    }

      &:after{
        position: absolute;
        content: '';
        display: block;
        height: 2px;
        background-color: $gray-400;
        width: 100vw;
        //margin: 0 calc(-1 * $margin);
        bottom: calc(-1 * $space-4);

        @include breakpoint("md"){
            display: none;
        }
      }
  }

  &__slider {
    display: grid;
    height: 100vh;
    overflow: hidden;
    &__container{
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(auto-fill, 100vh);
      justify-content: end;
    }

    &__wrapper{
      position: sticky;
      top: 0;
      align-self: start;
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 1fr 80px;
    }

    &__info{
      position: absolute;
      text-transform: uppercase;
      //bottom: $space-10;
      pointer-events: none;
      width: calc(100% - 80px);
      height: 100%;
      background-color: transparentize($black, 0.6);
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      span{
        position: absolute;
        bottom: $space-10;
        text-align: center;
        @include typo-h3;
        color: $white;
        display: block;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        &:after{
          content: '';
          display: block;
          position: relative;
          width: calc(100% - 4rem);
          margin: 0 2rem;
          height: 2px;
          background-color: $white;
        }
      }
    }

    &__bar {
      width: 100%;
      height: 100vh;
      background-color: $black;
      overflow: hidden;
      &__container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: repeat(auto-fill, 100vh);
        justify-content: end;
      }

      h3{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;

        @include typo-h3;
        line-height: 92.5%;
        font-weight: 500;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        white-space: nowrap;
        text-transform: uppercase;
        text-align: center;
        color: $white;

        @supports (-moz-appearance: none){
          line-height: 115%;
        }
      }
    }
  }
}

.slider__item {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  @include breakpoint(lg){
    right: 30%;
  }
  @include breakpoint(xl){
    right: 10%;
  }
  @include breakpoint(2xl){
    right: 0;
  }

  &__img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}


@keyframes subtleLevitate{
    0%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);
    }
    100%{
        transform: translateY(-2px);
    }
}