@import "@globals/variables";

.buttonsRow {
  margin-top: auto;
  display: flex;
  width: 100%;
  column-gap: $space-1;
  button {
    padding: 7.5px 0;
    width: 100%;
  }
  @include breakpoint("md") {
    column-gap: $space-2;
    margin-top: auto;
  }
}