@import "@globals/colors.module";
@import "@globals/variables";
@import "@globals/mixins";
$smoothEase: cubic-bezier(.79,-0.01,.13,1);

.menu-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: $buttonWidth;
  height: $buttonHeight;
  background-color: $black;
  border-radius: $radius-1;
  color: $white;
  position: relative;
  overflow: hidden;
  z-index: 99;

  &.active {
    background-color: transparent;
    span {
      opacity: 0;
      pointer-events: none;
    }
    .menu-button__dot {
      animation: dot__red-to-black 0.3s $smoothEase both;
      @include breakpoint("lg"){
        animation: dot__red-to-black-lg 0.3s $smoothEase both;
      }
      transform-origin: center;
      &:hover{
        .menu-button__dot__item{
          &:nth-child(1) {
            transform: scale(1) translateY(calc(6px/1)) rotate(calc(45deg + 180deg));
            @include breakpoint("lg"){
              transform: scale(1.25) translateY(calc(6px/1.25)) rotate(calc(45deg + 180deg));
            }
          }
          &:nth-child(3) {
            transform: scale(1) translateY(calc(-6px/1)) rotate(calc(-45deg + 180deg));
            @include breakpoint("lg"){
              transform: scale(1.25) translateY(calc(-6px/1.25)) rotate(calc(-45deg + 180deg));
            }
          }
        }
      }

      &__item {
        &:nth-child(1) {
          transform: scale(1) translateY(calc(6px/1)) rotate(calc(45deg ));
          @include breakpoint("lg"){
            transform: scale(1.25) translateY(calc(6px/1.25)) rotate(calc(45deg ));
          }
        }
        &:nth-child(2) {
          transform: scale(0) translateY(-50%) rotate(45deg);
        }
        &:nth-child(3) {
          transform: scale(1) translateY(calc(-6px/1)) rotate(calc(-45deg ));
          @include breakpoint("lg"){
            transform: scale(1.25) translateY(calc(-6px/1.25)) rotate(calc(-45deg));
          }
        }
      }
    }
  }

  span{
    position: absolute;
    color: inherit;
    z-index: 1;
    left:20px;
    @include breakpoint("lg"){
      left: $margin;
    }
  }
  &__dot{
    width: $space-2;
    height: $space-2;
    border-radius: 50%;
    background-color: $red;
    transition: width 0.4s $smoothEase, height 0.4s $smoothEase;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    justify-content: center;
    position: absolute;
    transform: translateX(50%);
    right:calc(12px + $space-2/2);
    @include breakpoint("lg"){
      right: $margin;
    }

    &__item{
      width: 18px;
      height: 2px;
      background-color: $white;
      content: "";
      transform: scale(0);
      transition: transform 0.3s ease;
      transform-origin: center;
      justify-content: center;
    }
  }
  &:not(.active):hover{
    @media (hover: hover) and (pointer: fine){
      color: $white !important;
      .menu-button__dot{
        width: 280px;
        height: 280px;
        &__item{
          transform: scaleX(1);
        }
      }
    }
  }
}

@keyframes dot__red-to-black {
  0% {
    width: 0;
    height: 0;
    background-color: $red;
  }
  50% {
    width: $space-4;
    height: $space-4;
    background-color: $black;
  }
  100% {
    width: $space-4;
    height: $space-4;
    background-color: $black;
  }
}

@keyframes dot__red-to-black-lg {
  0% {
    width: 0;
    height: 0;
    background-color: $red;
  }
  50% {
    width: $space-6;
    height: $space-6;
    background-color: $black;
  }
  100% {
    width: $space-6;
    height: $space-6;
    background-color: $black;
  }
}
