@import "@globals/colors.module";
@import "@globals/variables";

.menu-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 64px;
  background-color: $black;
  border-radius: $radius-1;
  color: $white;
  position: relative;
  overflow: hidden;
  //transition: background-color 0.15s ease, color 0.1s ease !important;

  span{
    position: absolute;
    color: inherit;
    left: 35px;
    z-index: 1;
  }

  &__dot{
    width: $space-2;
    height: $space-2;
    border-radius: 50%;
    background-color: $red;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    justify-content: center;
    position: absolute;
    right: 35px;
    transform: translateX(50%);

    &__item{
      width: 18px;
      height: 2px;
      background-color: $white;
      content: "";
      transform: scale(0);
      transition: transform 0.3s ease;
      transform-origin: center;
      justify-content: center;
    }
  }
  &:hover{
    color: $white !important;
    //background-color: $gray-600;
    .menu-button__dot{
      //width: $space-5;
      //height: $space-5;
      width: 400px;
      height: 400px;
      //height: (same as width);
      &__item{
        transform: scaleX(1);
      }
    }
  }
}