@import "@globals/variables";
@import "@globals/colors.module";
@import "@globals/typography";
@import "@globals/mixins";

.contact{
  &__wrapper{
    padding-top: calc($headerTop * 2 + $buttonHeight);
    margin-top: $space-6;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
    row-gap: $space-4;
    @include breakpoint(md){
      margin-top: 0;
    }
  }

  &__form{
    display: grid;
    grid-column: 1/-1;
    grid-template-areas: "decor" 'heading' "form";

    &__decor{
      grid-area: decor;
      width: 100%;
      aspect-ratio: 1;
      position: relative;
      max-width: 450px;
      margin: 0 auto;
      &__bg{
        position: absolute;
        inset: $margin;
        &:after{
          content: "";
          display: block;
          position: absolute;
          inset: 0;
          background-color: rgba(0,0,0,0.75);
        }
      }
      &__team{
        position: absolute;
        inset: 20% 16%;
      }
      &__bg, &__team{
        img{
          object-fit: cover;
        }
      }
      h1{
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translateY(-31%);
        @include typo-h3;
        color: $red;
        font-weight: 400;
        line-height: 60%;
        letter-spacing: -1.6px;
      }
      @include breakpoint(md){
        margin: 0 auto;
        h1{
          @include typo-h2;
        }
        &__bg{
          inset: 8%;
        }
        &__team{
          inset: 24% 18%;
        }

      }
    }
    &__heading {
      grid-area: heading;
      p {
        @include typo-sub2;
        text-align: center;
      }
      @include breakpoint(md){
        margin: 0 auto;

      }
      @include breakpoint-max(md){
        p{
          &:first-letter{
            text-transform: uppercase;
          }
          text-align: center;
        }
      }
    }
    &__form{
      grid-area: form;
      display: grid;
      margin-top: $space-6;
      row-gap: $space-3;
      position: relative;
      // only when the fields are invalid and not empty
      &:has(.input__field:placeholder-shown) .submit input,
      &:has(.input__field:invalid) .submit input {
        background-color: $gray-600;
        pointer-events: none;
      }

      .submit{
        width: 100%;
        input{
          width: 100%;
        }
      }
    }
    &__arrow{
      position: absolute;
      right: 0;
      bottom: $space-10;
      width: 80px;
      height: 80px;
    }
    @include breakpoint-max(xl){
      &__arrow{
        display: none;
      }
    }
    @include breakpoint(lg){
      max-width: 900px;
      margin: 0 auto;
    }
    @include breakpoint(xl){
      max-width: unset;
      grid-template-areas: 'heading heading' "form decor"  "form decor";
      column-gap: $space-6;
      grid-template-columns: minmax(728px, 50%) 1fr;
      row-gap: $space-6;
      position: relative;
      &__heading p{
        text-align: left;
        max-width: 74%;
      }
      &__form{
        row-gap: $space-6;
        margin-top: 0;
        position: static;
      }
      &__decor{
        align-self: center;
        justify-content: center;
        max-width: 800px;
        h1{
          font-size: 12rem;
        }
      }
      &__arrow{
        bottom: 0;
      }
    }
    @include breakpoint(2xl){
      grid-template-areas:  "heading decor"  "form decor";
      &__heading p{
        max-width: 100%;
      }
      &__decor{
        max-width: 600px;
        h1{
          font-size: 16rem;
        }
      }
    }
  }

  &__data{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    background-color: $red;
    position: relative;
    padding: $space-3 0;

    &__row{
      grid-column: 1/-1;
      display: grid;
      grid-template-rows: auto auto;
      row-gap: $space-2;
      &:not(:first-of-type){
        padding-top: $space-3;
      }
      &:not(:last-of-type){
        padding-bottom: $space-3;
        border-bottom: 1.5px solid $black;
      }
      &__title{
        @include typo-label;
        text-transform: uppercase;
      }
      &__item{
        @include typo-sub2;
        word-break: break-word;
        line-height: 80%;
        @media (max-width: 418px) {
          max-width: 16ch;
        }
        &--socials{
          display: flex;
          flex-direction: row;
          column-gap: $space-2;
        }
      }
      @include breakpoint(md){
        grid-template-columns: subgrid;
        &__title{
          grid-column: 1/3;
        }
        &__item{
          grid-column: 3/-1;
        }
      }
      @include breakpoint(lg){
        &__title{
          grid-column: 1/3;
        }
        &__item{
          grid-column:4/-1;
        }
      }
      @include breakpoint(xl){
        &__title{
          @include typo-sub3;
        }
        &__item{
          @include typo-h3;
          text-transform: uppercase;
        }
      }
    }
    &:before{
      display: block;
      position: absolute;
      content: "";
      background-color: $red;
      inset: 0 calc(-1 * $margin);
      z-index: -1;
    }
  }
}
