@import "@globals/variables";
@import "@globals/colors.module";

body:has(.menu.active){
    overflow: hidden;
}
.menu {
  inset: 0;
  position: fixed;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0s 0.5s, visibility 0s 0.5s;

  div, p{
    z-index: 1;
  }

  &:before {
    content: "";
    position: absolute;
    inset: calc($headerTop + 2px) $margin calc(100% - $buttonHeight - $headerTop - 2px) calc(100% - $buttonWidth - $margin);
    border-radius: $radius-1;
    background-color: $red;
    transition: inset 0.5s cubic-bezier(.89,0,.35,1);
    @include breakpoint("lg"){
      inset: calc($headerTop - 12px) $margin calc(100% - $buttonHeight - $headerTop + 12px) calc(100% - $buttonWidth - $margin);
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: opacity 0s, visibility 0s;

    &:before {
      //border-radius: 50%;
      inset: -25%;
    }
  }
}