@import "@globals/colors.module";
@import "@globals/variables";

.transitionBox {
  position: fixed;
  top: 100%;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: $z-transition;
  background-color: $red;
  display: block;
  &.initial {
    display: none;
  }
}
