$breakpoints: (
  sm: "576px",
  md: "768px",
  lg: "1024px",
  xl: "1280px",
  2xl: "1536px",
  3xl: "1921px",
);
$dotPath: "/img/dot.svg";

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: #{map-get($breakpoints, $name)}) {
      @content;
    }
  }
}

@mixin breakpoint-max($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    $value: map-get($breakpoints, $name);
    @media (max-width: calc(#{$value} - 1px)) {
      @content;
    }
  }
}

@mixin hoverable {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin beforeDot {
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  background-image: url($dotPath);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

@mixin separator {
  content:"";
  display: block;
  position: absolute;
  @include ignoreMarginWidth;
  top: 0;
  left: 0;
  right: 0;
  border-top: 2px solid $gray-200;
  z-index: -1;
  @include breakpoint(md){
    width: 100%;
    margin: 0 auto;
  }
}

@mixin topBottomLine {
  content:"";
  display: block;
  position: absolute;
  @include ignoreMarginWidth;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100% - 2px);
  border-top: 2px solid $gray-200;
  border-bottom: 2px solid $gray-200;
  z-index: -1;
  @include breakpoint(md){
    width: 100%;
    margin: 0 auto;
  }
}

@mixin verticalSeparator{
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 2px solid $gray-200;
}