$breakpoints: (
  sm: "576px",
  md: "768px",
  lg: "1024px",
  xl: "1280px",
  2xl: "1536px",
  3xl: "1920px",
);
$dotPath: "/img/dot.svg";

@mixin breakpoint($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    @media (min-width: #{map-get($breakpoints, $name)}) {
      @content;
    }
  }
}

@mixin breakpoint-max($name) {
  @if not map-has-key($breakpoints, $name) {
    @warn "Warning: `#{$name}` is not a valid breakpoint name.";
  } @else {
    $value: map-get($breakpoints, $name);
    @media (max-width: calc(#{$value} - 1px)) {
      @content;
    }
  }
}

@mixin hoverable {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin beforeDot {
  width: 32px;
  height: 32px;
  content: "";
  position: absolute;
  background-image: url($dotPath);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
