@import "mixins";

$gutter: var(--gutter);
$margin: var(--margin);
$buttonWidth: var(--button-width);
$buttonHeight: var(--button-height);
$headerTop: var(--header-top);

$space-10: 80px;
$space-9: 72px;
$space-8: 64px;
$space-7: 56px;
$space-6: 48px;
$space-5: 40px;
$space-4: 32px;
$space-3: 24px;
$space-2: 16px;
$space-1: 8px;

$radius-1: 4px;
$radius-2: 8px;


$z-content: 2;
$z-footer: 5;
$z-header: 9;
$z-absolute: 10;
$z-transition: 100;

$dotPath: "/img/dot.svg";

@mixin ignoreMarginWidth{
  width: calc(100% + 2 * $margin + 5px);
  margin: 0 calc(-1 * $margin);
}

@mixin horizontalLine{
  content: '';
  display: block;
  @include ignoreMarginWidth;
  height: 2px;
  position: absolute;
  background-color: $gray-400;
}