@import "@globals/variables";
@import "@globals/colors.module";

.header {
  position: fixed;
  grid-column: 1/-1;
  grid-row: 1;
  max-width: 100dvw;
  width: 100vw;
  margin: 0 calc(-1 * $margin) 0 calc(-1 * $margin);
  padding: $headerTop $margin $headerTop $margin;
  z-index: $z-header;
  height: calc($headerTop * 2 + $space-6);
  background-color: $white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  grid-template-rows: auto;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
  & > a{
    transform-origin: bottom;
  }

  @include breakpoint("md") {
    background-color: transparent;
    box-shadow: none;
  }

  @include breakpoint("lg") {
    background-color: transparent;
    box-shadow: none;
    height: calc($headerTop * 2 + $space-8);
    margin: 0 calc(-1 * $margin) 0 calc(-1 * $margin);
  }
  @include breakpoint("xl") {
    height: calc($headerTop * 2 + $space-10);
  }

  &__nav,
  &__menu {
    width: max-content;
    position: absolute;
    right: 0;
  }

  &[data-state="button"] {
    .open-cart {
      right: 24px;
    }
  }
  &[data-state="nav"] {
    .open-cart {
      position: absolute;
      right: 4px;
      top: 56px;
    }
  }
}

.open-cart {
  position: relative;
  border: none;
  background-color: transparent;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: inset 0.3s ease-in-out 0.1s;
  svg {
    height: 100%;
    width: 100%;
  }
  &:after {
    content: attr(data-qty);
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    bottom: 6px;
    left: 60%;
    background-color: $red;
    color: $white;
    @include breakpoint("md") {
      line-height: 75%;
    }
  }
  &[data-qty=""]::after {
    display: none;
  }
}
