@import "@globals/variables";
@import "@globals/colors.module";

.header{
  position: fixed;
  grid-column: 1/-1;
  grid-row: 1;
  width: calc(100% - 2*$margin);
  height: $space-6;

  margin-top: $space-4;
  display: flex;
  justify-content: space-between;
  grid-template-rows: auto;

  @include breakpoint("lg"){
    height: $space-8;
    margin-top: $space-6;
  }

  &__nav, &__menu{
    width: max-content;
    position: absolute;
    right: 0;
  }
}

.open-cart{
  position: absolute;
  top: calc($buttonHeight);
  margin-top: $space-2;

  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  cursor: pointer;
  svg{
    height: 100%;
    width: 100%;
  }
}