@import  "@globals/colors.module";

.logoSVG{
  --logo-text-color: #040404;
  --logo-icon-color: #FF4820;

  &__text{
    fill: var(--logo-text-color);
  }
  &__icon{
    fill: var(--logo-icon-color);
  }
}